html{
  position: relative;
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'RobotoL', sans-serif;
  font-weight: 300;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 1000;
  background: white;
  box-shadow: 0px 10px 6px -8px grey;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background: #ccc;
  border-top: 3px solid #808080;
}
  .footer p {
    color: #616161;
    font-size: 13px;
    text-align: center;
  }

  a,
  a:active,
  a:visited,
  a:focus {
      color: #ff5500;
      text-decoration: none;
  }
  a:hover {
      color: #a20d01;
      text-decoration: none;
  }

button,
input[type="button"] {
    background: #f50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    button:hover{
      background: #a20d01;
    }
    button a,
    button a:hover,
    button a:active,
    button a:visited,
    button a:focus {
        color: #fff;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'RobotoR';
}
/* ------------------ FONTS ----------------------------------------------------*/

@font-face {
    font-family: 'RobotoR';
    font-weight: 400;
    src: url('assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoL';
    font-weight: 300;
    src: url('assets/fonts/Roboto-Light.ttf');
}

/* -----------------------------Header mostly--------------------------------- */
.main-logo {
  float: left;
  margin-top: 11px;
  margin-left: 25%;
  font-weight: bold;
}

.topnav-right{
  float: right;
  margin-top: 11px;
  margin-right: 25%;
}

.container {
    width: 1004px;
    margin: 0 auto;
}

.container2{
  width: 550px;
  margin: 50px auto;
}

.clear {
    clear: both;
}
/* -----------------------------register-login-form-------------------------- */
.container2 h2, p{
  text-align: center;
}

.container2 .username{
  text-align: center;
}

.container2 .email{
  text-align: center;
}

.container2 .password{
  text-align: center;
}

.container2 input{
  width: 250px;
  text-align: center;
  padding: 5px;
}

.container2 h3{
  margin-block-end: 5px;
}

.container2 .form-button{
  text-align: center;
  margin-top: 15px;
}

.container2 .form-button .button{
  padding:15px;
}

.container2 p.inform {
  color: #f30505;
  font-size: 13px;
}

/* class display-none only for the form validation */
.display-none{
  display: none;
}
/* ------------------------------------------------ */

.container2 p.sign-in-message{
  margin-top: 50px;
}

.container2 p.sign-in-message button{
  background: #fff;
  color:blue;
  font-family: 'RobotoR';
  font-size: 16px;
}

.container2 p.sign-in-message{
  color: #f50;
}

.container2 .form-sign-in{
  display: none;
}

.container2 .form-button-sign-in{
  text-align: center;
  margin-top: 15px;
}

.container2 .form-button-sign-in .button{
  padding:15px;
}

/* -------------------------Media Queries------------------------------------ */

@media (max-width: 1004px) {
    .container {
        width: 804px;
    }
}

@media (max-width: 804px) {
    .container {
        width: 100%
    }

    .container2 {
        width: 100%
    }

}
